services:
  db:
    image: postgres:16
    container_name: nest_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nest_auth
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
